repos:
  - repo: local
    hooks:
    - id: alembic-single-head
      name: Ensure single Alembic head
      entry: python services/grading/tools/check_alembic_single_head.py
      language: system
      pass_filenames: false
      stages: [ pre-push ]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
